::v-deep .el-switch__label * {
  font-size: 12px !important;
}

.storage-time-unit {
  ::v-deep .el-input-group__append {
    width: 5rem;
  }
}

.product-form {
  .product-form-operation-sequence {
    margin-bottom: 16px;

    ::v-deep .el-card__body {
      padding: 16px 0;
    }

    .product-form-operation-sequence-item {
      //background-color: rgba(242, 242, 242, 0.98);
      padding: 8px 16px 8px 0;
      margin: 8px 0 0;

      .product-form-operation-sequence-item-main {
        .el-form-item.el-form-item--medium {
        }
      }

      .product-form-operation-sequence-item-operation {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      ::v-deep .el-card__body {
        padding: 16px 0;
        padding-left: 8px;
        margin-bottom: 0;
      }

      ::v-deep .el-select {
        width: 100%;
      }
    }
  }
}

.custom_expand_row {
  width: 100%;

  .custom_expand_row_item {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;


    .custom_expand_row_item_title {
      flex:1;
      text-align: left;
      font-weight: bold;
    }

    .custom_expand_row_item_content {
      flex: 1;
      text-align: left;
    }
  }
}
