.custom-input-number-wrap {
  display: flex;
  flex-direction: row;
  .custom-input-number-main {
    width: 60%;

    .el-input-number {
      width: 100%;

      span {
      }

      .el-input {
        input {
        }
      }
    }
  }

  .custom-input-number-suffix {
    flex: 1;
    height: 36px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #F5F7FA;
    text-align: center;
    color: #909399;
    border-radius: 4px;
    display: table-cell;
    border: 1px solid #DCDFE6;
  }

  .custom-input-number-suffix div.el-select .el-input__inner {
    border-color: transparent;
    background-color: transparent;
    color: inherit;
    border-top: 0;
    border-bottom: 0;
  }
}

.common-select-width {
  width: 100%;
}

.common-select-item {
}

.el-cascader {
  width: 100%;
}
